In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import MissingIndicator, SimpleImputer

In [10]:
df = pd.read_csv('train.csv', usecols = ['Age', 'Fare', 'Survived'])

In [11]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [30]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [14]:
X_train.head()

      Age     Fare
30   40.0  27.7208
10    4.0  16.7000
873  47.0   9.0000
182   9.0  31.3875
876  20.0   9.8458

In [15]:
si = SimpleImputer()
X_train_trf = si.fit_transform(X_train)
X_test_trf = si.transform(X_test)

In [17]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_trf, y_train)

y_pred = clf.predict(X_test_trf)

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
accuracy_score(y_test, y_pred)

0.6145251396648045

In [21]:
mi = MissingIndicator()
mi.fit(X_train)

MissingIndicator()

In [22]:
X_train_missing = mi.transform(X_train)
X_test_missing = mi.transform(X_test)

In [23]:
X_train['Age_NA'] = X_train_missing

In [24]:
X_test['Age_NA'] = X_test_missing

In [25]:
X_train.sample(10)

      Age     Fare  Age_NA
533   NaN  22.3583    True
860  41.0  14.1083   False
815   NaN   0.0000    True
850   4.0  31.2750   False
489   9.0  15.9000   False
422  29.0   7.8750   False
222  51.0   8.0500   False
428   NaN   7.7500    True
634   9.0  27.9000   False
835  39.0  83.1583   False

In [26]:
X_test.sample(10)

       Age      Fare  Age_NA
692    NaN   56.4958    True
400  39.00    7.9250   False
305   0.92  151.5500   False
672  70.00   10.5000   False
438  64.00  263.0000   False
840  20.00    7.9250   False
423  28.00   14.4000   False
617  26.00   16.1000   False
193   3.00   26.0000   False
164   1.00   39.6875   False

In [27]:
si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [28]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_trf2, y_train)

y_pred = clf.predict(X_test_trf2)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6312849162011173

In [29]:
si = SimpleImputer(add_indicator=True)

In [32]:
X_train = si.fit_transform(X_train)
X_test = si. transform(X_test)

In [33]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_trf2, y_train)

y_pred = clf.predict(X_test_trf2)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6312849162011173